.page {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFF;
}

.page__inner {
    /* width: 1120px; */
    width: 100%;
    margin: 0 auto;

    /* border: 18px solid #595959; */
    background-color: #595959;
}

/* ----------HEADER section------------ */
.header {
    display: flex;
    justify-content: center;

    background-color: #595959;
}

.header__left-buttons-wrapper {
    margin: 18px auto 18px 20px;
}

.header__logo {
    margin: 5px auto auto;
    transform: translateX(-50%); /* center */
}

.header__right-buttons-wrapper {
    margin: 18px 20px 18px auto;
}

/* --------CATEGORY section------------ */
/* .category {
    display: flex;
    padding: 0 25px;

    justify-content: space-around;
} */

/* .category__section-button {
    transform: translateX(-50%);
} */

/* --------CATEGORY section-------------- */
.page__category {
    box-sizing: border-box;
    width: 100%;
    /* width: 970px; */
    /* min-height: 200px; */
    /* margin: 30px auto; */
}

.category {
    display: flex;
    flex-wrap: wrap;
}

.category__item {
    box-sizing: border-box;
    margin: 0;
}

.item {
    position: relative;
}

.item__img {
    display: block;
    width: 640px;
    /* max-width: 640px; */
    height: calc((100vh - 74px) / 2);
    object-fit: cover;
}

.item__description {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* --------FOOTER section--------------- */


/* ---------BUTTON section------------- */
.text-button {
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    border: 0; /* Green */

    font-size: 22px;
}

.text-button:hover {
    cursor: pointer;
}

.header-button {
    display: inline-block;
    vertical-align: top;
}

.icon-button {
    background-color: #F27E88;
    border: 2px solid #0D0D0D;
}

.icon-button__img {
    width: 75%;
}